.navegacion {
    background-color: #aeaeae;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    text-align: center;
    font-family: 'Courier New';
    text-decoration: none;
    display: inline-block;
  }