.App {
  flex-direction: column;
  background-color: rgb(240, 235, 223);
  height: 1500px;
}

.container { 
  margin: 5%;
  align-items: center;
  justify-content: center;
}

.col-md-4 {
  margin-top: 4%;
}

